
.h {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fafafd; 
    color: #3f51b5 
  }
  
  .admin-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0.8rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
  .admin-header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .admin-header h1 {
    color: #3f51b5; 
    font-size: 2.5rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); 
  }
  
  .admin-header p {
    color: #090808;
    font-size: 1.1rem;
  }
  
  .admin-logo {
    max-width: 150px; 
    margin-bottom: 1rem;
  }
  
  .admin-functions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .admin-card {
    background: rgba(163, 161, 161, 0.1); 
    color: #ffffff;
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1rem;
    flex: 1 1 calc(30% - 2rem); 
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-align: center;
    position: relative;
    backdrop-filter: blur(5px);
  }
  
  .admin-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
  }
  
  .admin-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #3f51b5; 
  }
  
  .admin-card h2 {
    margin: 0.5rem 0;
    text-transform: uppercase;
  }
  
  .admin-card p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  .admin-card button {
    background-color: #3f51b5; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; 
    text-transform: uppercase;
  }
  
  .admin-card button:hover {
    background-color: #3f51b5; 
    color: #333;
    transform: scale(1.05);
  }
  
  .admin-footer {
    text-align: center;
    margin-top: 2rem;
    color: #3f51b5; 
  }
  
  .logout-button {
    background-color: #3f51b5; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
    text-transform: uppercase;
  }
  
  .logout-button:hover {
    background-color: #3f51b5; 
    transform: scale(1.05); 
  }
  
  .admin-footer p {
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .admin-card {
      flex: 1 1 calc(45% - 2rem); 
    }
  }
  
  @media (max-width: 480px) {
    .admin-card {
      flex: 1 1 calc(100% - 2rem); 
    }
  }